@import 'font';
@import 'helper';
// @import 'variable';
$fa-font-path: '../fonts';
@import './node_modules/font-awesome/scss/font-awesome';
@import './node_modules/bootstrap/scss/bootstrap.scss';
// @import 'variable';

#sign-out {
  display: none;
}

$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-primary {
  @extend ._font-heading;
  // background: #F46500!important;
  background-color: #F46500!important;
  border-color: #F46500!important;
}

.btn-link {
  @extend ._font-heading;
  color: #868686!important;
}

.loading {
  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: 0.25rem solid $off-white;
  border-top-color: $white;
  animation: spin $spin-duration infinite linear;

  &--double {
    border-style: double;
    border-width: 0.5rem;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  // margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0);
  }

  50% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.continue-but {
  background-color: #f46500;
  border-width: 0;
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
  padding: 8px 5px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Kanit', 'Aileron', sans-serif;
  /*transition: transform 0.15s;*/
}
.line-below-text:before {
    border-top: 1px solid #ababab;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}
.line-below-text {
    margin-top: 10px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.line-below-text span {
    background: #fafafa;
    padding: 0 10px;
}
.text-center {
    text-align: center;
}
.font-18 {
    font-size: 18px;
    line-height: 28px;
}
.font-bold {
    font-weight: 700;
}

#logout {
  text-align: right;
  font-size: .8em;
  position: absolute;
  right: 20px;
  padding: 5px 11px;
  background: #f77d09;
  color: white;
  border-radius: 3px;
}
