@import 'helper';

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  // background: rgba(255,116,74,1);
  // background: -moz-linear-gradient(45deg, rgba(255,116,74,1) 0%, rgba(247,188,121,1) 100%);
  // background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,116,74,1)), color-stop(100%, rgba(247,188,121,1)));
  // background: -webkit-linear-gradient(45deg, rgba(255,116,74,1) 0%, rgba(247,188,121,1) 100%);
  // background: -o-linear-gradient(45deg, rgba(255,116,74,1) 0%, rgba(247,188,121,1) 100%);
  // background: -ms-linear-gradient(45deg, rgba(255,116,74,1) 0%, rgba(247,188,121,1) 100%);
  // background: linear-gradient(45deg, rgba(255,116,74,1) 0%, rgba(247,188,121,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff744a', endColorstr='#f7bc79', GradientType=1 );
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  // color: white;
  text-align: center;
  @extend ._font-heading;
  color: #3d3d3d;
}

#go-leaderboard {
  display: none;
  margin: 15px;
  background: rgb(249, 171, 39);
  color: #FAFAFA;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}
